@model UPtel.Models.Cargos

@{
    ViewData["Title"] = "Delete";
}

<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8">

                @*<h1>Eliminar</h1>*@

                <h3>Tem a certeza que quer eliminar o cargo?</h3>
                <div>
                    @*<h4>Cargos</h4>*@
                    <hr />
                    <dl class="row">
                        <div class="col-md-4">
                            <dt class="text-white">
                                @Html.DisplayNameFor(model => model.NomeCargo)
                            </dt>
                            <dd class="text-white">
                                @Html.DisplayFor(model => model.NomeCargo)
                            </dd>
                        </div>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="CargoId" />
                        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                        <a class="btn btn-costum" asp-action="Index">Voltar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>