@model UPtel.Models.Cargos

@{
    ViewData["Title"] = "Details";
}

<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8 text-white">
                <h1>Detalhes dos cargos</h1>

                <div>
                    
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2 text-white">
                            @Html.DisplayNameFor(model => model.NomeCargo)
                        </dt>
                        <dd class="col-sm-10 text-white">
                            @Html.DisplayFor(model => model.NomeCargo)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a class="btn btn-costum" asp-action="Edit" asp-route-id="@Model.CargoId">Editar</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.CargoId">Apagar</a> |
                    <a class="btn btn-info" asp-action="Index">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</section>