@model UPtel.Models.PromocoesViewModel

@{
    ViewData["Title"] = "Create";
}
<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h1>Create</h1>

                <h4>Contratos</h4>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            @*Promoção televisão*@
                            <div class="form-group">
                                <label asp-for="PromoTelevisaoId" class="control-label"></label>
                                <select asp-for="PromoTelevisaoId" class="form-control" asp-items="ViewBag.PromoTelevisaoId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="DataInicioTelevisao" class="control-label"></label>
                                <input asp-for="DataInicioTelevisao" class="form-control" />
                                <span asp-validation-for="DataInicioTelevisao" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DataFimTelevisao" class="control-label"></label>
                                <input asp-for="DataFimTelevisao" class="form-control" />
                                <span asp-validation-for="DataFimTelevisao" class="text-danger"></span>
                            </div>

                            @*Promoção Telefone*@
                            <div class="form-group">
                                <label asp-for="PromoTelefoneId" class="control-label"></label>
                                <select asp-for="PromoTelefoneId" class="form-control" asp-items="ViewBag.PromoTelefoneId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="DataInicioTelefone" class="control-label"></label>
                                <input asp-for="DataInicioTelefone" class="form-control" />
                                <span asp-validation-for="DataInicioTelefone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DataFimTelefone" class="control-label"></label>
                                <input asp-for="DataFimTelefone" class="form-control" />
                                <span asp-validation-for="DataFimTelefone" class="text-danger"></span>
                            </div>

                            @*Promoção Telemovel*@
                            <div class="form-group">
                                <label asp-for="PromoTelemovelId" class="control-label"></label>
                                <select asp-for="PromoTelemovelId" class="form-control" asp-items="ViewBag.PromoTelemovelId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="DataInicioTelemovel" class="control-label"></label>
                                <input asp-for="DataInicioTelemovel" class="form-control" />
                                <span asp-validation-for="DataInicioTelemovel" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DataFimTelemovel" class="control-label"></label>
                                <input asp-for="DataFimTelemovel" class="form-control" />
                                <span asp-validation-for="DataFimTelemovel" class="text-danger"></span>
                            </div>

                            @*Promoção NetMovel*@
                            <div class="form-group">
                                <label asp-for="PromoNetMovelId" class="control-label"></label>
                                <select asp-for="PromoNetMovelId" class="form-control" asp-items="ViewBag.PromoNetMovelId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="DataInicioNetMovel" class="control-label"></label>
                                <input asp-for="DataInicioNetMovel" class="form-control" />
                                <span asp-validation-for="DataInicioNetMovel" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DataFimNetMovel" class="control-label"></label>
                                <input asp-for="DataFimNetMovel" class="form-control" />
                                <span asp-validation-for="DataFimNetMovel" class="text-danger"></span>
                            </div>

                            @*Promoção NetFixa*@
                            <div class="form-group">
                                <label asp-for="PromoNetFixaId" class="control-label"></label>
                                <select asp-for="PromoNetFixaId" class="form-control" asp-items="ViewBag.PromoNetFixaId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="DataInicioNetFixa" class="control-label"></label>
                                <input asp-for="DataInicioNetFixa" class="form-control" />
                                <span asp-validation-for="DataInicioNetFixa" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DataFimNetFixa" class="control-label"></label>
                                <input asp-for="DataFimNetFixa" class="form-control" />
                                <span asp-validation-for="DataFimNetFixa" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>

            </div>
        </div>
    </div>
</section>