@model UPtel.Models.Contratos

@{
    ViewData["Title"] = "Create";
}
<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h1>Create</h1>

                <h4>Contratos</h4>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="ClienteId" class="control-label"></label>
                                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="FuncionarioId" class="control-label"></label>
                                <select asp-for="FuncionarioId" class="form-control" asp-items="ViewBag.FuncionarioId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="PromocaoId" class="control-label"></label>
                                <input asp-for="PromocaoId" class="form-control" />
                                <span asp-validation-for="PromocaoId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PacoteId" class="control-label"></label>
                                <select asp-for="PacoteId" class="form-control" asp-items="ViewBag.PacoteId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Numeros" class="control-label"></label>
                                <input asp-for="Numeros" class="form-control" />
                                <span asp-validation-for="Numeros" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DataInicio" class="control-label"></label>
                                <input asp-for="DataInicio" class="form-control" />
                                <span asp-validation-for="DataInicio" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Fidelizacao" class="control-label"></label>
                                <input asp-for="Fidelizacao" class="form-control" />
                                <span asp-validation-for="Fidelizacao" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PrecoContrato" class="control-label"></label>
                                <input asp-for="PrecoContrato" class="form-control" />
                                <span asp-validation-for="PrecoContrato" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>

            </div>
        </div>
    </div>
</section>