@model ListaCanaisViewModel

@{
    ViewData["Title"] = "Contratos";
}
<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h2 class="font">Contratos</h2>
                    <p>
                        <a asp-action="Create"><i class="fas fa-folder-plus fa-3x"></i></a>
                    </p>
                @if (Model.Contratos.Count() == 0)
                {
                    <p style="color:darkgray">Não existem contratos a mostrar</p>
                }
                else
                {
                    <table class="table table-borderless text-white">
                        <thead>
                            <tr>
                                <th class="text-center titulo">
                                    Cliente
                                </th>
                                <th class="text-center titulo">
                                    Nome de contrato
                                </th>
                                <th class="text-center titulo">
                                    Data de início
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Contratos)
                            {
                            <tr>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.ClienteId)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.ContratoId)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.DataInicio)
                                </td>
                                <td class="text-center">
                                    <a asp-action="Details" asp-route-id="@item.ContratoId"><i class="fas fa-search-plus fa-2x"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                }   
            </div>
        </div>
    </div>
</section>