@model ListaCanaisViewModel

@{
    ViewData["Title"] = "Contratos";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />


<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center  text-white">
            <div class="col-xl-8">
                <div>
                    <h2 class="font">Procurar Utilizador</h2>
                    <br />
                    <div class="row col-md-10 border-info mb-4 justify-content-center">
                        <div class="card-body">
                            <h5 class="card-title" style="color:darkgrey">Pesquisar contratos (Por Nome/NIF)</h5>
                            <form asp-action="SelectUser" method="get">
                                <div class="form-group">
                                    <input name="nomePesquisar" class="form-control" type="search" value="@Model.NomePesquisar" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Pesquisar" class="btn btn-outline-light" />
                                    <a asp-action="Index" class="btn btn-outline-light">Limpar</a>
                                </div>
                            </form>
                        </div>
                        @if (Model.Users.Count() == 0)
                        {
                            <p style="color:darkgray">Por favor pesquise um utilizador</p>
                        }
                        else
                        {
                            <table class="table table-borderless text-white">
                                <thead>
                                    <tr>
                                        <th class="titulo">
                                            Nome do Cliente
                                        </th>
                                        <th class="titulo">
                                            NIF
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var contratos in Model.Users)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => contratos.Nome)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => contratos.Contribuinte)
                                            </td>
                                            <td>
                                                <p>
                                                    <a asp-action="Create" asp-route-id="@contratos.UsersId"><i class="fas fa-folder-plus fa-2x"></i></a>
                                                </p>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>


                </div>

            </div>
        </div>
    </div>
    </div>
</section>