@model RegistoClienteViewModel

@{
    ViewData["Title"] = "Registo";
}

<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8">
                <h1>Registo</h1>

                <h4>Novo cliente</h4>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <form asp-action="Registo">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="NomeCliente" class="control-label">Nome do Cliente *</label>
                                <input asp-for="NomeCliente" class="form-control" />
                                <span asp-validation-for="NomeCliente" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DataNascimento" class="control-label">Data de nascimento *</label>
                                <input asp-for="DataNascimento" class="form-control" />
                                <span asp-validation-for="DataNascimento" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CartaoCidadao" class="control-label">Número do cartão de cidadão *</label>
                                <input asp-for="CartaoCidadao" class="form-control" />
                                <span asp-validation-for="CartaoCidadao" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Contribuinte" class="control-label">Número de contribuinte *</label>
                                <input asp-for="Contribuinte" class="form-control" />
                                <span asp-validation-for="Contribuinte" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Morada" class="control-label">Morada *</label>
                                <input asp-for="Morada" class="form-control" />
                                <span asp-validation-for="Morada" class="text-danger"></span>
                            </div>
                            <div class="form-row">
                                <label asp-for="CodigoPostal" class="control-label">Código Postal *</label>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4">
                                    <input asp-for="CodigoPostal" class="form-control" />
                                    <span asp-validation-for="CodigoPostal" class="text-danger"></span>
                                </div>
                                -
                                <div class="col-md-4">
                                    <input asp-for="CodigoPostalExt" class="form-control" />
                                    <span asp-validation-for="CodigoPostalExt" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Telefone" class="control-label"></label>
                                <input asp-for="Telefone" class="form-control" />
                                <span asp-validation-for="Telefone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Telemovel" class="control-label">Telemóvel *</label>
                                <input asp-for="Telemovel" class="form-control" />
                                <span asp-validation-for="Telemovel" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label">Email *</label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label">Password*</label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmePassword" class="control-label">Confirme a sua password *</label>
                                <input asp-for="ConfirmePassword" class="form-control" />
                                <span asp-validation-for="ConfirmePassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TipoClienteId" class="control-label"></label>
                                <select asp-for="TipoClienteId" class="form-control" asp-items="ViewBag.TipoClienteId"></select>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Registar" class="btn btn-primary" />
                            </div>
                            <div>
                                <a>Os campos marcados com * são de preenchimento obrigatório</a>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
                @*<div>
                        <a asp-action="Index">Back to List</a>
                    </div>*@

                @*@section Scripts {
                        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                    }*@
