@model UPtel.Models.Pacotes

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pacotes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomePacote" class="control-label"></label>
                <input asp-for="NomePacote" class="form-control" />
                <span asp-validation-for="NomePacote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelevisaoId" class="control-label"></label>
                <select asp-for="TelevisaoId" class ="form-control" asp-items="ViewBag.TelevisaoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TelemovelId" class="control-label"></label>
                <select asp-for="TelemovelId" class ="form-control" asp-items="ViewBag.TelemovelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NetIfixaId" class="control-label"></label>
                <select asp-for="NetIfixaId" class ="form-control" asp-items="ViewBag.NetIfixaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TelefoneId" class="control-label"></label>
                <input asp-for="TelefoneId" class="form-control" />
                <span asp-validation-for="TelefoneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetMovelId" class="control-label"></label>
                <select asp-for="NetMovelId" class ="form-control" asp-items="ViewBag.NetMovelId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
