@model ListaCanaisViewModel

@{
    ViewData["Title"] = "Distritos";
}


<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center  text-white">
            <div class="col-xl-8">
                <div>
                    <h2 class="font">Procurar distrito</h2>
                    <br />
                    <div class="row col-md-10 border-info mb-4 justify-content-center">
                        <div class="card-body">
                            <h5 class="card-title" style="color:darkgrey">Pesquisar distritos para adicionar(Nome)</h5>
                            <form asp-action="SelectDistrito" method="get">
                                <div class="form-group">
                                    <input name="nomePesquisar" class="form-control" type="search" value="@Model.NomePesquisar" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Pesquisar" class="btn btn-outline-light" />
                                    <a asp-action="SelectDistrito" class="btn btn-outline-light">Limpar</a>
                                </div>
                            </form>
                        </div>
                        @if (Model.Distritos.Count() == 0)
                        {
                            <p style="color:darkgray">Por favor pesquise um distrito</p>
                        }
                        else
                        {
                            <table class="table text-white">
                                <thead>
                                    <tr>
                                        <th class="text-center titulo">
                                            Nome do Distrito
                                        </th>
                                        <th class="text-center titulo">
                                            Escolher
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var contratos in Model.Distritos)
                                    {
                                        <tr>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => contratos.DistritoNome)
                                            </td>
                                            <td class="text-center">
                                                <p>
                                                    <a asp-action="Create" asp-route-id="@contratos.DistritoId"><i class="fas fa-folder-plus fa-2x"></i></a>
                                                </p>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }

                    </div>
                    <div class="float-right">
                        <a asp-action="Index"><i title="Voltar" class="far fa-caret-square-left  fa-2x"></i></a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>