@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a class="btn btn-primary" asp-action="Index" asp-controller="Canais">Canais</a>
<a class="btn btn-primary" asp-action="Index" asp-controller="Cargos">Cargos</a>
<a class="btn btn-primary" asp-action="Index" asp-controller="Clientes">Clientes</a>
<a class="btn btn-primary" asp-action="Index" asp-controller="Contratos">Contratos</a>
<a class="btn btn-primary" asp-action="Index" asp-controller="Funcionarios">Funcionario</a>
<a class="btn btn-primary" asp-action="Index" asp-controller="NetFixa">Net Fixa</a>
<a class="btn btn-primary" asp-action="Index" asp-controller="NetMovel">Net Móvel</a>
<a class="btn btn-primary" asp-action="Index" asp-controller="PacoteCanais">Pacotes Canais</a>
<a class="btn btn-primary" asp-action="Index" asp-controller="Pacotes">Pacotes</a>
<a class="btn btn-primary" asp-action="Index" asp-controller="Promocoes">Promoções</a>
<a class="btn btn-primary" asp-action="Index" asp-controller="Telefone">Telefone</a>
<a class="btn btn-primary" asp-action="Index" asp-controller="Telemovel">Telemóvel</a>
<a class="btn btn-primary" asp-action="Index" asp-controller="Televisao">Televisão</a>
<a class="btn btn-primary" asp-action="Index" asp-controller="TipoClientes">Tipo de clientes</a>