@{
    ViewData["Title"] = "Home Page";
}

<section id="hero" class="d-flex flex-column justify-content-center">
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <h1 class="display-4">UPtel</h1>
                <p>Sobre <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>


                <a class="btn btn-primary" asp-action="Index" asp-controller="Canais">Canais</a>
                <a class="btn btn-primary" asp-action="Index" asp-controller="Cargos">Cargos</a>
                <a class="btn btn-primary" asp-action="Index" asp-controller="Clientes">Clientes</a>
                <a class="btn btn-primary" asp-action="Index" asp-controller="Contratos">Contratos</a>
                <a class="btn btn-primary" asp-action="Index" asp-controller="Funcionarios">Funcionario</a>
                <a class="btn btn-primary" asp-action="Index" asp-controller="NetFixa">Net Fixa</a>
                <a class="btn btn-primary" asp-action="Index" asp-controller="NetMovel">Net Móvel</a>
                <a class="btn btn-primary" asp-action="Index" asp-controller="PacoteCanais">Pacotes Canais</a>
                <a class="btn btn-primary" asp-action="Index" asp-controller="Pacotes">Pacotes</a>
                <a class="btn btn-primary" asp-action="Index" asp-controller="Promocoes">Promoções</a>
                <a class="btn btn-primary" asp-action="Index" asp-controller="Telefone">Telefone</a>
                <a class="btn btn-primary" asp-action="Index" asp-controller="Telemovel">Telemóvel</a>
                <a class="btn btn-primary" asp-action="Index" asp-controller="Televisao">Televisão</a>
                <a class="btn btn-primary" asp-action="Index" asp-controller="TipoClientes">Tipo de clientes</a>

            </div>
        </div>
    </div>
</section>

