@{
    ViewData["Title"] = "Home Page";
}

<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                @*<img class="logo" src="~/bootstrap/assets/img/UPtel_logo2.png" alt="UPtel" />*@

                <section id="services" class="services">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                                <a asp-action="Index" asp-controller="Televisao">
                                    <div class="icon-box">
                                        <div class="icon"><i class="bx bx-tv"></i></div>
                                        <h4>Televisão</h4>
                                        <p>Veja aqui os pacotes de televisão que temos disponiveis para si e desfrute</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                                <a asp-action="Comunicacoes" asp-controller="Home">
                                    <div class="icon-box">
                                        <div class="icon"><i class="bx bx-phone"></i></div>
                                        <h4>Comunicações</h4>
                                        <p>Quer tenha um telefone fixo ou telemóvel, temos o tarifário para si</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                                <a asp-action="Internet" asp-controller="Home">
                                    <div class="icon-box">
                                        <div class="icon"><i class="bx bx-wifi"></i></div>
                                        <h4>Internet</h4>
                                        <p>Veja os pacotes de internet fixa e móvel, a mais rápida do mercado</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                
            </div>
        </div>
    </div>
</section>
<section id="pricing" class="pricing">
    <div class="container">

        <div class="section-title">
            <h2>Principais promoções</h2>
            <p>Veja algumas das promoções que temos para si</p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="box recommended">
                    <span class="recommended-badge">Recomendado</span>
                    <h3>Promoção aniversário</h3>
                    <h4><sup>€</sup>60<span> / mês</span></h4>
                    <ul>
                        <li>+20 canais</li>
                        <li>Chamadas nacionais a metade do preço</li>
                        <li>5GB de Internet móvel</li>
                        <li>500Mbps em Internet fixa</li>
                    </ul>
                    <div class="btn-wrap">
                        <a asp-action="Index" asp-controller="Promocoes" class="btn-buy">Ver Promoções</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                <div class="box">
                    <h3>Promoção de Telemóvel</h3>
                    <h4><sup>€</sup>10<span> / mês</span></h4>
                    <ul>
                        <li>Chamadas grátis nacionais</li>
                        <li>3,5GB de Internet móvel</li>
                        <li><br /></li>
                        <li><br /></li>
                    </ul>
                    <div class="btn-wrap">
                        <a asp-action="Index" asp-controller="Promocoes" class="btn-buy">Ver Promoções</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                <div class="box">
                    <h3>Canais de Desporto</h3>
                    <h4><sup>€</sup>45<span> / mês</span></h4>
                    <ul>
                        <li>Todos os canais Sport TV</li>
                        <li>Todos os canais Eleven sport</li>
                        <li><br /></li>
                        <li><br /></li>
                    </ul>
                    <div class="btn-wrap">
                        <a asp-action="Index" asp-controller="Promocoes" class="btn-buy">Ver Promoções</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>


