@model UPtel.Models.TipoClientes

@{
    ViewData["Title"] = "Eliminar tipo de cliente";
}
<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8 text-white">
                @*<h2>Eliminar tipo de cliente</h2>*@

                <h3>Tem a certeza que pretende eliminar o tipo de cliente?</h3>
                <div>
                 @*   <h4>Tipo de cliente</h4>*@
                    
                    <div class="row">
                        <div class="col-md-4">
                            <br />
                            <dl>
                                <dt class="text-white">
                                    @Html.DisplayNameFor(model => model.Designacao)
                                </dt>
                                <dd class="text-white">
                                    @Html.DisplayFor(model => model.Designacao)
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="TipoClienteId" />
                        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                        <a class="btn btn-info" asp-action="Index">Voltar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
