@model UPtel.Models.TipoClientes

@{
    ViewData["Title"] = "Eliminar tipo de cliente";
}
<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8">
                <h2>Eliminar tipo de cliente</h2>

                <h3>Tem a certeza que pretende eliminar o tipo de cliente?</h3>
                <div>
                    <h4>Tipo de cliente</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Designacao)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Designacao)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="TipoClienteId" />
                        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                        <a asp-action="Index">Voltar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
