@model UPtel.Models.TipoClientes

@{
    ViewData["Title"] = "Detalhes do tipo de cliente";
}
<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8">
                <h2>Detalhes do tipo de cliente</h2>

                <div>
                    @*<h4>Tipo de clientes</h4>*@
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <dl>
                                <dt class="text-white">
                                    @Html.DisplayNameFor(model => model.Designacao)
                                </dt>
                                <dd class="text-white">
                                    @Html.DisplayFor(model => model.Designacao)
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.TipoClienteId">Editar</a> |
                    <a asp-action="Index">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</section>
