@model ListaCanaisViewModel

@{
    ViewData["Title"] = "Contratos";
}


<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center  text-white">
            <div class="col-xl-8">
                <div>
                    <h2 class="font">Procurar cliente</h2>
                    <br />
                    <div class="row ">
                        <div class="col-md-10 border-info mb-4 justify-content-center">
                            <div class="card-body">
                                <h5 class="card-title" style="color:darkgrey">Pesquisar cliente (Por Nome/NIF)</h5>
                                <form asp-action="SelectUser" method="get">
                                    <div class="form-group">
                                        <input name="nomePesquisar" class="form-control" type="search" value="@Model.NomePesquisar" />
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Pesquisar" class="btn btn-outline-light" />
                                        <a asp-action="SelectUser" class="btn btn-outline-light">Limpar</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        @if (Model.Users.Count() == 0)
                        {
                            <p style="color:darkgray">Por favor pesquise um cliente</p>
                        }
                        else
                        {
                            <table class="table text-white">
                                <thead>
                                    <tr>
                                        <th class="text-center titulo">
                                            Nome do Cliente
                                        </th>
                                        <th class="text-center titulo">
                                            NIF
                                        </th>
                                        <th class="text-center titulo">
                                            Criar
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var contratos in Model.Users)
                                    {
                                        <tr>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => contratos.Nome)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => contratos.Contribuinte)
                                            </td>
                                            <td class="text-center">
                                                <p>
                                                    <a asp-action="SelectContrato" asp-route-id="@contratos.UsersId"><i class="far fa-plus-square fa-2x"></i></a>
                                                </p>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }

                    </div>
                    <div class="float-right">
                        <a asp-action="Index"><i title="Voltar" class="far fa-caret-square-left fa-2x"></i></a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>