<style>
    .bs-example {
        margin: 20px;
    }
</style>

@{
    ViewData["Title"] = "Index";
}

<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class=" row justify-content-center text-center">
            <div class="col-xl-8">
                <h1 class="text-white">Great team</h1>
                <br />

                <div class="row text-center bs-example">
                    <div class="justify-content-center mx-auto card-deck m-4">
                        <div class="card text-white bg-secondary" style="width:200px">
                            <img class="card-img-top rounded-circle" src="~/bootstrap/assets/img/andre.jpg" alt="The Best Team">
                            <div class="card-body">
                                <p class="card-text">The Quiet man</p>
                            </div>
                        </div>
                        <div class="card text-white bg-secondary" style="width:200px">
                            <img class="card-img-top rounded-circle" src="~/bootstrap/assets/img/Bernardo.png" alt="The Best Team">
                            <div class="card-body">
                                <p class="card-text">The Ideas man</p>
                            </div>
                        </div>
                        <div class="card text-white bg-secondary" style="width:200px">
                            <img class="card-img-top rounded-circle" src="~/bootstrap/assets/img/JoaoNunes.jpg" alt="The Best Team">
                            <div class="card-body">
                                <p class="card-text">The soon to be Engineer</p>
                            </div>
                        </div>
                    </div>
                    <div class="justify-content-center mx-auto card-deck m-4">
                        <div class="card text-white bg-secondary" style="width:200px">
                            <img class="card-img-top rounded-circle" src="~/bootstrap/assets/img/Davidpass.jpg" alt="The Best Team">
                            <div class="card-body">
                                <p class="card-text">The Boss</p>
                            </div>
                        </div>
                        <div class="card text-white bg-secondary" style="width:200px">
                            <img class="card-img-top rounded-circle" src="~/bootstrap/assets/img/Antonio.png" alt="Fotografia de António Caldeira circa 2000">
                            <div class="card-body">
                                <p class="card-text">The Healthy One</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>