@model UPtel.Models.Reclamacao

@{
    ViewData["Title"] = "Feedback";
}

<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h1 class="font">Enviar Feedback</h1>

                <br />
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 text-white">
                        <form asp-action="Feedback">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ReclamacaoId" />
                            <div class="form-group">
                                <label hidden asp-for="UsersId" class="control-label" style="color:darkgray"></label>
                                <select hidden asp-for="UsersId" class="form-control" asp-items="ViewBag.UsersId"></select>
                                <span hidden asp-validation-for="UsersId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="NomeCliente" class="control-label" style="color:darkgray"></label>
                                <input readonly asp-for="NomeCliente" class="form-control" />
                                <span asp-validation-for="NomeCliente" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Assunto" class="control-label" style="color:darkgray"></label>
                                <input readonly asp-for="Assunto" class="form-control" />
                                <span asp-validation-for="Assunto" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Descriçao" class="control-label" style="color:darkgray"></label>
                                <textarea rows="3" readonly asp-for="Descriçao" class="form-control"></textarea>
                                <span asp-validation-for="Descriçao" class="text-danger"></span>
                            </div>
                            <br />
                            <br />
                      
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="FeedbackResolvido" /> Resolvido
                                </label>
                            </div>
                            <div class="form-group">
                                <label asp-for="FeedbackDescricao" class="control-label" style="color:darkgray">Feedback</label>
                                <textarea rows="3" asp-for="FeedbackDescricao" class="form-control"></textarea>
                                <span asp-validation-for="FeedbackDescricao" class="text-danger"></span>
                            </div>

                            <div class="form-group d-flex justify-content-sm-between align-content-center">
                                <button type="submit" class="btn btn-default btn-sm "><i title="Guardar" class="fas fa-folder-plus fa-3x"></i></button>
                                <a asp-action="Create" asp-route-id="@Model.ReclamacaoId"><i title="Voltar" class="far fa-arrow-alt-circle-left fa-2x"></i></a>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>