@model UPtel.Models.ReclamacaoViewModel

@{
    ViewData["Title"] = "RespostaReclamacaoOperador";
}
<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h1 class="font">Responder Reclamação</h1>

                <br />
                <div class="row">
                    <div class="col-md-10">
                        <form asp-action="RespostaReclamacaoOperador">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ReclamacaoId" />
                            <input type="hidden" asp-for="ContratoId" />

                            <div class="form-group">
                                <label asp-for="NomeCliente" class="control-label"></label>
                                <input readonly asp-for="NomeCliente" class="form-control" />
                                <span asp-validation-for="NomeCliente" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DataReclamacao" class="control-label"></label>
                                <input readonly asp-for="DataReclamacao" class="form-control" />
                                <span asp-validation-for="DataReclamacao" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Assunto" class="control-label"></label>
                                <input readonly asp-for="Assunto" class="form-control" />
                                <span asp-validation-for="Assunto" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Descricao" class="control-label"></label>
                                <input readonly asp-for="Descricao" class="form-control" />
                                <span asp-validation-for="Descricao" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ResolvidoOperador" class="control-label" style="color:darkgray">Resolvido?</label>
                                <select name="ResolvidoOperador">
                                    <option value="false">Não</option>
                                    <option value="true">Sim</option>
                                </select>
                            </div>
                            <div class="form-group form-check">
                                <div class="form-group">
                                    <label asp-for="Mensagem" class="control-label"></label>
                                    <textarea rows="3" asp-for="Mensagem" class="form-control"></textarea>
                                    <span asp-validation-for="Mensagem" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="form-group d-flex justify-content-sm-between align-content-center">
                                <button type="submit" value="Save" class="btn btn-default btn-sm "><i title="Guardar" class="fas fa-folder-plus fa-3x"></i></button>
                                <a asp-action="IndexCliente"><i title="Voltar" class="far fa-arrow-alt-circle-left fa-2x"></i></a>
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a asp-action="Index"><i title="Voltar" class="far fa-caret-square-left fa-2x"> &nbsp </i></a>
                </div>

            </div>
        </div>
    </div>
</section>