@{
    ViewData["Title"] = "Sucesso";
}

<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8b text-white">
                <div class="text-success mb-3">
                    <div>

                        <h1>@ViewBag.Mensagem</h1>
                        <br />
                        <div>
                            <a class="btn btn-info" asp-action="IndexCliente">
                                Ver Reclamações
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>