@model UPtel.Models.TelevisaoViewModel

@{
    ViewData["Title"] = "Editar serviço de televisão";
}
<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8 text-white">

                <h1>Editar serviço de televisão</h1>

                <hr />
                <div class="row">
                    <div class="col-md-4 text-white">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="TelevisaoId" />
                            <div class="form-group">
                                <label asp-for="Nome" class="control-label">Nome do pacote de canais *</label>
                                <input asp-for="Nome" class="form-control" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Descricao" class="control-label"></label>
                                <input asp-for="Descricao" class="form-control" />
                                <span asp-validation-for="Descricao" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PrecoPacoteTelevisao" class="control-label">Preço do pacote de televisão *</label>
                                <input asp-for="PrecoPacoteTelevisao" class="form-control" />
                                <span asp-validation-for="PrecoPacoteTelevisao" class="text-danger"></span>
                            </div>
                            <table>
                                @for (int i = 0; i < Model.ListaCanais.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            @Html.HiddenFor(x => Model.ListaCanais[i].Id)
                                            @Html.DisplayFor(z => Model.ListaCanais[i].Nome)
                                        </td>
                                        <td>
                                            @Html.CheckBoxFor(z => Model.ListaCanais[i].Selecionado)
                                        </td>
                                    </tr>
                                }
                            </table>
                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn btn-costum" /> |
                                <a class="btn btn-info" asp-action="Details" asp-route-id="@Model.TelevisaoId">Voltar</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-white">
                    <a>Os campos marcados com * são de preenchimento obrigatório</a>
                </div>
        

                @*@section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }*@
            </div>
        </div>
    </div>
</section>