@model UPtel.Models.FaturacaoOperador

@{
    ViewData["Title"] = "Create";
}

<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h2 class="font">Criar Fatura</h2>
                <br />
                <div class="row">
                    <div class="col-md-10">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Data" class="control-label"></label>
                                <input asp-for="Data" class="form-control" />
                                <span asp-validation-for="Data" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ValorMensalFat" class="control-label"></label>
                                <input asp-for="ValorMensalFat" class="form-control" />
                                <span asp-validation-for="ValorMensalFat" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MesId" class="control-label"></label>
                                <select asp-for="MesId" class="form-control" asp-items="ViewBag.MesId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="FuncinarioId" class="control-label"></label>
                                <input asp-for="FuncinarioId" class="form-control" />
                                <span asp-validation-for="FuncinarioId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                            <div class="form-group d-flex justify-content-sm-between align-content-center">
                                <button type="submit" class="btn btn-default btn-sm "><i title="Guardar" class="far fa-plus-square  fa-3x"></i></button>
                                <a asp-action="Index"><i title="Voltar" class="far fa-caret-square-left fa-2x"></i></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
