@model UPtel.Models.Telefone

@{
    ViewData["Title"] = "Editar dados do telefone";
}

<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h1 class="font">Editar dados do telefone</h1>

                <br />
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 text-white">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="TelefoneId" />
                            <div class="form-group">
                                <label asp-for="Nome" class="control-label" style="color:darkgray">Tarifário *</label>
                                <input asp-for="Nome" class="form-control" placeholder="Ex. Básico" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Limite" class="control-label" style="color:darkgray">Limite *</label>
                                <input asp-for="Limite" class="form-control" placeholder="Ex. Ilimitado"/>
                                <span asp-validation-for="Limite" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PrecoMinutoNacional" class="control-label" style="color:darkgray">Preço por minuto de chamadas nacionais *</label>
                                <input asp-for="PrecoMinutoNacional" class="form-control" placeholder="Ex. 0.12"/>
                                <span asp-validation-for="PrecoMinutoNacional" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PrecoMinutoInternacional" class="control-label" style="color:darkgray">Preço por minuto de chamadas internacionais *</label>
                                <input asp-for="PrecoMinutoInternacional" class="form-control" placeholder="Ex. 0.11"/>
                                <span asp-validation-for="PrecoMinutoInternacional" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PrecoPacoteTelefone" class="control-label" style="color:darkgray">Preço do pacote de telefone *</label>
                                <input asp-for="PrecoPacoteTelefone" class="form-control" placeholder="Ex. 15"/>
                                <span asp-validation-for="PrecoPacoteTelefone" class="text-danger"></span>
                            </div>
                            <div class="form-group d-flex justify-content-sm-between align-content-center">
                                <button type="submit" class="btn btn-default btn-sm "><i class="far fa-plus-square fa-2x"></i></button>
                                <a asp-action="Details" asp-route-id="@Model.TelefoneId"><i class="far fa-caret-square-left fa-2x"></i></a>

                            </div>
                        </form>
                        <div style="color:darkgray">
                            <a>Os campos marcados com * são de preenchimento obrigatório</a>
                        </div>
                    </div>
                </div>
                
                @*@section Scripts {
                        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                    }*@
            </div>
        </div>
    </div>
</section>