@model UPtel.Models.Canais

@{
    ViewData["Title"] = "Eliminar canais";
}

<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h2 class="font">Tem a certeza que quer eliminar o canal?</h2>
                <br />
                <div>
                    <div>

                        <dl class="row justify-content-center text-white">
                            <dt class="col-4 titulo">
                                @Html.DisplayNameFor(model => model.NomeCanal)
                            </dt>
                            <dd class="col-4">
                                @Html.DisplayFor(model => model.NomeCanal)
                            </dd>
                            <dd class="col-4">
                                @if (Model.Foto != null)
                                {
                                    <img src="data:image/jpeg;base64, @Convert.ToBase64String(Model.Foto)" class="img-fluid" style="width:50px;" />
                                }
                            </dd>
                        </dl>
                    </div>
                </div>
                <br /><br />
                <form class="d-flex justify-content-sm-between align-content-center col-10" asp-action="Delete">
                    <input type="hidden" asp-for="CanaisId" />
                    <button type="submit" class="btn btn-default btn-sm "><i class="far fa-trash-alt fa-2x imgEliminar"></i></button>
                    <a asp-action="Details" asp-route-id="@Model.CanaisId"><i class="far fa-arrow-alt-circle-left fa-2x"></i></a>
                </form>
            </div>
        </div>
    </div>
</section>