@model UPtel.Models.Canais

@{
    ViewData["Title"] = "Delete";
}


<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-left">
            <div class="col-xl-8">
                <h2>Tem a certeza que quer apagar?</h2>
                <div>
                  
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2 text-white">
                            @Html.DisplayNameFor(model => model.NomeCanal)
                        </dt>
                        <dd class="col-sm-10 text-white">
                            @Html.DisplayFor(model => model.NomeCanal)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="CanaisId" />
                        <input type="submit" value="Apagar" class="btn btn-danger" /> |
                        <a asp-action="Index">Voltar</a>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>