<style>
    input[type=file] {
        color: transparent;
    }

        input[type=file]:after {
            /*   color: #000;*/
            color: white;
            content: "teste";
        }
</style>

@model RegistoUserViewModel

@{
    ViewData["Title"] = "Registo";
}
<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8 text-white">
                <h2>Registo</h2>

                <h4>Operadores</h4>
                <br />

                <div class="text-black">
                    <div class="body bg-dark">
                        <form asp-action="RegistoOperador" enctype="multipart/form-data" class="row g-3">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-5 form-group">
                                <label asp-for="Nome" class="form-label">Nome *</label>
                                <input asp-for="Nome" class="form-control" placeholder="ex: David" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                            <div class="col-md-5 form-group">
                                <label asp-for="Data" class="form-label">Data de Nascimento *</label>
                                <input asp-for="Data" class="form-control" placeholder="ex: dd/mm/aaaa" />
                                <span asp-validation-for="Data" class="text-danger"></span>
                            </div>
                            <div class="col-md-5 form-group">
                                <label asp-for="CartaoCidadao" class="form-label"></label>
                                <input asp-for="CartaoCidadao" class="form-control" placeholder="ex: 12345678" />
                                <span asp-validation-for="CartaoCidadao" class="text-danger"></span>
                            </div>
                            <div class="col-md-5 form-group">
                                <label asp-for="Contribuinte" class="form-label">Contribuinte *</label>
                                <input asp-for="Contribuinte" class="form-control" placeholder="ex: 123456789" />
                                <span asp-validation-for="Contribuinte" class="text-danger"></span>
                            </div>
                            <div class="col-10 form-group">
                                <label asp-for="Morada" class="form-label">Morada *</label>
                                <input asp-for="Morada" class="form-control" placeholder="ex: Rua blá, n.34" />
                                <span asp-validation-for="Morada" class="text-danger"></span>
                            </div>
                            <div class="col-md-5 form-group">
                                <label asp-for="Telefone" class="form-label"></label>
                                <input asp-for="Telefone" class="form-control" placeholder="ex: 2xxxxxxxx" />
                                <span asp-validation-for="Telefone" class="text-danger"></span>
                            </div>
                            <div class="col-md-5 form-group">
                                <label asp-for="Telemovel" class="form-label">Telemóvel *</label>
                                <input asp-for="Telemovel" class="form-control" placeholder="ex: 9xxxxxxxx" />
                                <span asp-validation-for="Telemovel" class="text-danger"></span>
                            </div>
                            <div class="col-10 form-group">
                                <label asp-for="Iban" class="form-label"></label>
                                <input asp-for="Iban" class="form-control" placeholder="ex: PT00000000000000000000000" />
                                <span asp-validation-for="Iban" class="text-danger"></span>
                            </div>
                            <div class="col-md-5 form-group">
                                <label asp-for="Email" class="form-label">E-mail *</label>
                                <input asp-for="Email" class="form-control" placeholder="ex: teste@qq.ff" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-md-5 form-group">
                                <label asp-for="CodigoPostal" class="form-label">Código Postal *</label>
                                <div class="form-row">
                                    <div class="col-md-7">
                                        <input asp-for="CodigoPostal" class="form-control" placeholder="ex: xxxx" />
                                        <span asp-validation-for="CodigoPostal" class="text-danger"></span>
                                    </div>
                                    -
                                    <div class="col-md-4">
                                        <input asp-for="CodigoPostalExt" class="form-control" placeholder="ex: xxx" />
                                        <span asp-validation-for="CodigoPostalExt" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 form-group">
                                <label asp-for="Password" class="form-label">Password *</label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <asp:TextBox ID="txtPassword" TextMode="Password" runat="server" CssClass="form-control"></asp:TextBox>
                                <div class="input-group-append">
                                    <button id="show_password" class="btn btn-primary" type="button">
                                        <span class="fa fa-eye-slash icon"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-5 form-group">
                                <label for="ficheiroFoto" class="control-label">Fotografia</label>
                                <input name="ficheiroFoto" class="form-control-file" type="file" />
                            </div>
                            <div class="col-md-5 form-group">
                                <label asp-for="ConfirmePassword" class="form-label">Confirme a sua password *</label>
                                <input asp-for="ConfirmePassword" class="form-control" />
                                <span asp-validation-for="ConfirmePassword" class="text-danger"></span>
                            </div>
                            <div class="col-10 form-group">
                                <input type="submit" value="Registar" class="btn btn-primary" /> |
                                <a class="btn btn-info" asp-action="Index">Voltar</a>
                            </div>
                            <div>
                                <p>Os campos marcados com * são de preenchimento obrigatório</p>
                            </div>
                        </form>
                    </div>
                </div>
                @section Scripts {
                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }
            </div>
        </div>
    </div>
</section>