
@{
    ViewData["Title"] = "Sucesso";
}

<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8">
                <div class="text-success mb-3">
                    <div>

                        <h1>@ViewBag.Mensagem</h1>
                        <br />
                        <div>
                            @if (User.IsInRole("Administrador"))
                            {
                                <a class="btn btn-primary" asp-action="Index">
                                    Ver Users
                                </a>
                            }
                            else if (User.IsInRole("Operador"))
                            {
                                <a class="btn btn-primary" asp-action="Index"asp-controller="OperadorViewModel">
                                    Voltar
                                </a>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>