@model UPtel.Models.Telemovel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Telemovel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TelemovelId" />
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LimiteMinutos" class="control-label"></label>
                <input asp-for="LimiteMinutos" class="form-control" />
                <span asp-validation-for="LimiteMinutos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LimiteSms" class="control-label"></label>
                <input asp-for="LimiteSms" class="form-control" />
                <span asp-validation-for="LimiteSms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoMinutoNacional" class="control-label"></label>
                <input asp-for="PrecoMinutoNacional" class="form-control" />
                <span asp-validation-for="PrecoMinutoNacional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoMinutoInternacional" class="control-label"></label>
                <input asp-for="PrecoMinutoInternacional" class="form-control" />
                <span asp-validation-for="PrecoMinutoInternacional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoSms" class="control-label"></label>
                <input asp-for="PrecoSms" class="form-control" />
                <span asp-validation-for="PrecoSms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoMms" class="control-label"></label>
                <input asp-for="PrecoMms" class="form-control" />
                <span asp-validation-for="PrecoMms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
