@model UPtel.Models.Telemovel

@{
    ViewData["Title"] = "Editar dados do telemóvel";
}
<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8">
                <h2>Editar dados do telemóvel</h2>

                <h4>Telemóvel</h4>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="TelemovelId" />
                            <div class="form-group">
                                <label asp-for="Numero" class="control-label">Número de telemóvel *</label>
                                <input asp-for="Numero" class="form-control" />
                                <span asp-validation-for="Numero" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LimiteMinutos" class="control-label">Limite de minutos *</label>
                                <input asp-for="LimiteMinutos" class="form-control" />
                                <span asp-validation-for="LimiteMinutos" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LimiteSms" class="control-label">Limite de SMS *</label>
                                <input asp-for="LimiteSms" class="form-control" />
                                <span asp-validation-for="LimiteSms" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PrecoMinutoNacional" class="control-label">Preço por minuto de chamadas nacionais *</label>
                                <input asp-for="PrecoMinutoNacional" class="form-control" />
                                <span asp-validation-for="PrecoMinutoNacional" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PrecoMinutoInternacional" class="control-label">Preço por minuto de chamadas internacionais *</label>
                                <input asp-for="PrecoMinutoInternacional" class="form-control" />
                                <span asp-validation-for="PrecoMinutoInternacional" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PrecoSms" class="control-label">Preço de SMS nacional *</label>
                                <input asp-for="PrecoSms" class="form-control" />
                                <span asp-validation-for="PrecoSms" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PrecoMms" class="control-label">Preço de MMS nacional *</label>
                                <input asp-for="PrecoMms" class="form-control" />
                                <span asp-validation-for="PrecoMms" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PrecoPacoteTelemovel" class="control-label">Preço do pacote de telemóvel *</label>
                                <input asp-for="PrecoPacoteTelemovel" class="form-control" />
                                <span asp-validation-for="PrecoPacoteTelemovel" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                    <a>Os campos marcados com * são de preenchimento obrigatório</a>
                </div>
                <div>
                    <a asp-action="Index">Voltar</a>
                </div>

                @*@section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }*@
            </div>
        </div>
    </div>
</section>