@model UPtel.Models.OperadorViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OperadorViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeCliente" class="control-label"></label>
                <input asp-for="NomeCliente" class="form-control" />
                <span asp-validation-for="NomeCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CartaoCidadao" class="control-label"></label>
                <input asp-for="CartaoCidadao" class="form-control" />
                <span asp-validation-for="CartaoCidadao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroContribuinte" class="control-label"></label>
                <input asp-for="NumeroContribuinte" class="form-control" />
                <span asp-validation-for="NumeroContribuinte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Morada" class="control-label"></label>
                <input asp-for="Morada" class="form-control" />
                <span asp-validation-for="Morada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodiogoPostal" class="control-label"></label>
                <input asp-for="CodiogoPostal" class="form-control" />
                <span asp-validation-for="CodiogoPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtensaoCodigoPostal" class="control-label"></label>
                <input asp-for="ExtensaoCodigoPostal" class="form-control" />
                <span asp-validation-for="ExtensaoCodigoPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telemovel" class="control-label"></label>
                <input asp-for="Telemovel" class="form-control" />
                <span asp-validation-for="Telemovel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fotografia" class="control-label"></label>
                <input asp-for="Fotografia" class="form-control" />
                <span asp-validation-for="Fotografia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataRegisto" class="control-label"></label>
                <input asp-for="DataRegisto" class="form-control" />
                <span asp-validation-for="DataRegisto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
