@model UPtel.Models.NetFixa

@{
    ViewData["Title"] = "Create";
}

<style>
    .btn-costum {
        background-color: #00b371;
        color: white;
        border-color: #009961;
    }

        .btn-costum:hover {
            background-color: #009961;
            color: white;
            border-color: #009961;
        }
</style>

<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8 text-white">

                <h1>Novo Pacote de Net Fixa</h1>

                <br />
                <div class="row text-white">
                    <div class="col-md-6">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Limite" class="control-label">Limite *</label>
                                <input asp-for="Limite" class="form-control" />
                                <span asp-validation-for="Limite" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Velocidade" class="control-label">Velocidade *</label>
                                <input asp-for="Velocidade" class="form-control" />
                                <span asp-validation-for="Velocidade" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TipoConexao" class="control-label">Tipo de conexão *</label>
                                <input asp-for="TipoConexao" class="form-control" />
                                <span asp-validation-for="TipoConexao" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PrecoNetFixa" class="control-label">Preço do tarifário *</label>
                                <input asp-for="PrecoNetFixa" class="form-control" />
                                <span asp-validation-for="PrecoNetFixa" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Notas" class="control-label"></label>
                                <input asp-for="Notas" class="form-control" />
                                <span asp-validation-for="Notas" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Criar" class="btn btn-costum" /> |
                                <a class="btn btn-info" asp-action="Index">Voltar</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-white">
                    <a>Os campos marcados com * são de preenchimento obrigatório</a>
                </div>
            </div>
        </div>
    </div>
</section>
                @*@section Scripts {
                        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                    }*@
