<style>
    input[type=file] {
        color: transparent;
    }

        input[type=file]:after {
            color: #000;
            content: "";
        }
</style>

@model UPtel.Models.NetFixa

@{
    ViewData["Title"] = "Edit";
}



<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">

                <h2 class="font">Editar Internet Fixa</h2>

                @*<h4>Net Fixa</h4>*@
                <br />
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 text-white">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger">Limite *</div>
                            <input type="hidden" asp-for="NetFixaId" />
                            <div class="form-group">
                                <label asp-for="Nome" class="control-label" style="color:darkgray"></label>
                                <input asp-for="Nome" class="form-control" placeholder="Ex: Básico"/>
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Limite" class="control-label" style="color:darkgray"></label>
                                <input asp-for="Limite" class="form-control" placeholder="Ex: Ilimitado"/>
                                <span asp-validation-for="Limite" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Velocidade" class="control-label" style="color:darkgray">Velocidade em MB*</label>
                                <input asp-for="Velocidade" class="form-control" placeholder="Ex: 30"/>
                                <span asp-validation-for="Velocidade" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TipoConexao" class="control-label" style="color:darkgray">Tipo de conexão *</label>
                                <input asp-for="TipoConexao" class="form-control" placeholder="Ex: Fibra"/>
                                <span asp-validation-for="TipoConexao" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PrecoNetFixa" class="control-label" style="color:darkgray">Preço do tarifário *</label>
                                <input asp-for="PrecoNetFixa" class="form-control" placeholder="Ex: 21"/>
                                <span asp-validation-for="PrecoNetFixa" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Notas" class="control-label" style="color:darkgray"></label>
                                <textarea rows="3" asp-for="Notas" placeholder="Notas" class="form-control" ></textarea>
                                <span asp-validation-for="Notas" class="text-danger"></span>
                            </div>
                            <div class="form-group d-flex justify-content-sm-between align-content-center">
                                <button type="submit" class="btn btn-default btn-sm "><i title="Guardar" class="fas fa-folder-plus fa-3x"></i></button>
                                <a asp-action="Details" asp-route-id="@Model.NetFixaId"><i title="Voltar" class="far fa-arrow-alt-circle-left fa-2x"></i></a>
                            </div>
                        </form>
                    </div>
                </div>
                <div style="color:darkgray">
                    <a>Os campos marcados com * são de preenchimento obrigatório</a>
                </div>
            </div>
        </div>
    </div>
</section>
                @section Scripts {
                        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                    }
