@{
    ViewData["Title"] = "Sucesso";
}

<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8">
                <div class="text-success mb-3">
                    <div>

                        <p>@ViewBag.Mensagem</p>

                        <div>
                            <a class="btn btn-primary" asp-action="Index">
                                Ver lista de Net Fixa
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>