@model UPtel.Models.UserType

@{
    ViewData["Title"] = "Delete";
}
<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8 text-white">

                <h2>Tem a certeza que quer apagar o user type?</h2>
                <div>
                    <br />
                    <dl class="row">
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Tipo)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Tipo)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="TipoId" />
                        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@Model.TipoId">Voltar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>