@model UPtel.Models.UserType

@{
    ViewData["Title"] = "Details";
}

<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center text-white">
            <div>

                <h1 class="font">Detalhes dos tipos de utilizador</h1>
                <br />
                <div>
                    
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-5 titulo">
                            @Html.DisplayNameFor(model => model.Tipo)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Tipo)
                        </dd>
                    </dl>
                </div>
                <div class="float-right">
                    <a asp-action="Edit" asp-route-id="@Model.TipoId"><i title="Editar" class="far fa-edit fa-2x"> &nbsp </i></a>
                    <a asp-action="Delete" asp-route-id="@Model.TipoId"><i title="Apagar" class="far fa-trash-alt fa-2x imgEliminar"> &nbsp </i></a>
                    <a asp-action="Index"><i title="Voltar" class="far fa-arrow-alt-circle-left fa-2x"> &nbsp </i></a>
                </div>
            </div>
        </div>
    </div>
</section>