@model UPtel.Models.UserType

@{
    ViewData["Title"] = "Edit";
}
<section id="secondhero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-white">
                <h2 class="font">Editar user type</h2>
                <hr />
                <div class="row">
                    <div class="col-md-8 text-white">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="TipoId" />
                            <div class="form-group">
                                <label asp-for="Tipo" class="control-label"style="color:darkgray"></label>
                                <input asp-for="Tipo" class="form-control" placeholder="Ex: Administrador" />
                                <span asp-validation-for="Tipo" class="text-danger"></span>
                            </div>
                            <div class="form-group d-flex justify-content-sm-between align-content-center">
                                <button type="submit" class="btn btn-default btn-sm "><i title="Guardar" class="fas fa-folder-plus fa-3x"></i></button>
                                <a asp-action="Details" asp-route-id="@Model.TipoId"><i title="Detalhes" class="fas fa-search-plus fa-2x"></i></a>
                            </div>
                        </form>
                    </div>
                </div>
             

                @section Scripts {
                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }
            </div>
        </div>  
    </div>
</section>