@model IEnumerable<UPtel.Models.UserType>

@{
    ViewData["Title"] = "Index";
}
<section id="secondhero" class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row justify-content-center text-left">
            <div class="col-xl-8 text-white">

                <h2>User Type</h2>

                <p>
                    <a class="btn btn-costum" asp-action="Create">Adicionar user type</a>
                </p>

                @if (Model.Count() == 0)
                {
                    <p>Não existem serviços de televisão para mostrar</p>
                }
                else
                {
                    <table class="table text-white">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Tipo)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tipo)
                                    </td>
                                    <td>
                                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.TipoId">Details</a> 
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</section>